body {
    background-image: url('backgroundIMG.png');
}


#title {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 1%;
    transform: translate(-50%, 0%);
}

#startButtonBox {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
}