body {
    background-image: url('backgroundIMG.png');
    color: rgb(255, 255, 255);
}

#spotifyBox {
    position: absolute;
    left: auto;
    bottom: 5%;
    width: 600px;
    height: 300px;
    background-color: rgb(64, 60, 60);
}

#weatherBox {
    position: absolute;
    left: auto;
    bottom: 5%;
    right: 5%;
    width: 600px;
    height: 300px;
    background-color: rgb(64, 60, 60);
}


#profileList {
    position: relative;
}

#topSongs {
    position: relative;
}
